@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
    scroll-behavior: smooth;
}

body{
    color: #2C326F;
    margin: 0;
    padding: 0; 
}

footer{
    background-color: #f2f2f2;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.pic1{
    background-image: url(/img/footer1.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 300px;
    height: auto;
}

.pic2{
    background-image: url(/img/footer2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 250px;
    height: auto;
}

.szöveg{
    padding-top:20px;
    padding-left: 50%;
}

.szöveg p{
    font-size: 18px;
}

.social{
    padding: 0; 
    margin: 0;
    list-style: none;
    margin-left: 12%;
    font-size: 18px;
    margin-top: 30px;
    width: 50%;
}

.social a{
    color: #2C326F;
}

.social li{
    padding-bottom: 20px;
}

li.face {
    background: url('/img/facebook.svg') no-repeat left top;
    padding-left: 50px;
    padding-top: 3px;
}
li.insta {
    background: url('/img/instagram.svg') no-repeat left top;
    padding-left: 50px;
    padding-top: 3px;
}
li.email {
    background: url('/img/email.svg') no-repeat left top;
    padding-left: 50px;
    padding-top: 3px;
}
li.phone {
    background: url('/img/phone.svg') no-repeat left top;
    padding-left: 50px;
    padding-top: 3px;
}

@media screen and (max-width: 1100px) {
    .column {
      width: 100%;
    }

    .pic1{
        background-image: none;
    }
    .pic2{
        background-image: none;
    }

    .szöveg{
        padding-top:20px;
        padding-left: 0;
        text-align: center;
    }

    .social{
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
  }